.card
{
	height: 620px;
}
p
{
	margin-bottom: 10px;
}
#cart_count
{
	text-align: center;
	padding:0.3rem 0.5rem 0.3rem 0.5rem;
	border-radius: 3rem;
}
.row
{
	margin-top: 20px;
}
body
{
	background-color: white;
}
