#üdvözlés
{
	font-size: 100px;
	margin-top: 200px;
	margin-bottom: 50px;
}
.btn
{
	margin: 10px;
	width: 200px;
	font-size: 20px;
}
body
{
	background-color: lightgray;
}
#cart-item
{
	text-align: center;
	padding:0.3rem 0.5rem 0.3rem 0.5rem;
	border-radius: 3rem;
}
p
{
	font-size: 25px;
}
