#cart-item
{
	text-align: center;
	padding:0.3rem 0.5rem 0.3rem 0.5rem;
	border-radius: 3rem;
}

#bal
{
	border-right: solid 2px;
	border-color: gray;
}
body
{
	background-color: lightgray;
}