img
{
	max-width: 500px;
	height: auto;
}
.card
{
	height: 670px;
}
.card-body
{
	border-top: solid 1px;
	border-color: lightgray;
}
#cart_count
{
	text-align: center;
	padding:0.3rem 0.5rem 0.3rem 0.5rem;
	border-radius: 3rem;
}
p
{
	margin-bottom: 20px;
}
